<script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui@2.15.7/lib/index.js"></script>
<head>
    <meta charset="utf-8"> 
</head>
<div id="app">
<template>
    <el-row>
        <el-button type="warning" round v-on:click="清空猜测列表()">清空</el-button>
    </el-row>
    <el-row v-for="猜测条件 in 猜测列表">
        名字
        <el-select v-model="猜测条件.名字" clearable filterable placeholder="干员" @change="开始猜测()">
            <el-option
              v-for="干员 in 干员列表"
              :key="干员.名字"
              :label="干员.名字"
              :value="干员.名字">
            </el-option>
        </el-select>
        稀有度
        <el-select v-model="猜测条件.稀有度" clearable placeholder="稀有度" @change="开始猜测()">
            <el-option value="向上">向上</el-option>
            <el-option value="一致">一致</el-option>
            <el-option value="向下">向下</el-option>
        </el-select>
        阵营
        <el-select v-model="猜测条件.阵营" clearable placeholder="阵营" @change="开始猜测()">
            <el-option value="一致">一致</el-option>
            <el-option value="部分一致">部分一致</el-option>
            <el-option value="不同">不同</el-option>
        </el-select>
        职业
        <el-select v-model="猜测条件.职业" clearable placeholder="职业" @change="开始猜测()">
            <el-option value="一致">一致</el-option>
            <el-option value="部分一致">部分一致</el-option>
            <el-option value="不同">不同</el-option>
        </el-select>
        种族
        <el-select v-model="猜测条件.种族" clearable placeholder="种族" @change="开始猜测()">
            <el-option value="一致">一致</el-option>
            <el-option value="部分一致">部分一致</el-option>
            <el-option value="不同">不同</el-option>
        </el-select>
        画师
        <el-select v-model="猜测条件.画师" clearable placeholder="画师" @change="开始猜测()">
            <el-option value="一致">一致</el-option>
            <el-option value="不同">不同</el-option>
        </el-select>
    </el-row>
    <el-row>
        {{ 输出信息.信息1 }}
    </el-row>
    <el-row>
        {{ 输出信息.信息2 }}
    </el-row>
    <el-row>
        made by suulnnka
    </el-row>
</template>
</div>
<style>
    @import url("https://unpkg.com/element-ui@2.15.7/lib/theme-chalk/index.css");
    .el-select {width: 130px;}
</style>
<script>

let 干员列表 = [
    {
        "职业": "术师",
        "子职业": "驭械术师",
        "名字": "澄闪",
        "阵营": [
            "维多利亚"
        ],
        "种族": [
            "菲林"
        ],
        "稀有度": 5,
        "画师": "Namie"
    },
    {
        "职业": "辅助",
        "子职业": "护佑者",
        "名字": "夏栎",
        "阵营": [
            "罗德岛"
        ],
        "种族": [
            "菲林"
        ],
        "稀有度": 4,
        "画师": "YUJI"
    },
    {
        "职业": "辅助",
        "子职业": "召唤师",
        "名字": "令",
        "阵营": [
            "炎",
            "岁"
        ],
        "种族": [
            "未公开"
        ],
        "稀有度": 5,
        "画师": "下野宏铭"
    },
    {
        "职业": "特种",
        "子职业": "行商",
        "名字": "老鲤",
        "阵营": [
            "鲤氏侦探事务所",
            "炎",
            "龙门"
        ],
        "种族": [
            "龙"
        ],
        "稀有度": 5,
        "画师": "KuroBlood"
    },
    {
        "职业": "先锋",
        "子职业": "战术家",
        "名字": "夜半",
        "阵营": [
            "雷姆必拓"
        ],
        "种族": [
            "萨弗拉"
        ],
        "稀有度": 4,
        "画师": "温泉瓜"
    },
    {
        "职业": "狙击",
        "子职业": "速射手",
        "名字": "寒芒克洛丝",
        "阵营": [
            "罗德岛"
        ],
        "种族": [
            "卡特斯"
        ],
        "稀有度": 4,
        "画师": "下野宏铭"
    },
    {
        "职业": "辅助",
        "子职业": "护佑者",
        "名字": "九色鹿",
        "阵营": [
            "炎"
        ],
        "种族": [
            "埃拉菲亚"
        ],
        "稀有度": 4,
        "画师": "IRIS_呓"
    },
    {
        "职业": "重装",
        "子职业": "驭法铁卫",
        "名字": "暮落",
        "阵营": [
            "维多利亚"
        ],
        "种族": [
            "斐迪亚"
        ],
        "稀有度": 4,
        "画师": "Cenm0"
    },
    {
        "职业": "辅助",
        "子职业": "削弱者",
        "名字": "灵知",
        "阵营": [
            "喀兰贸易",
            "谢拉格"
        ],
        "种族": [
            "黎博利"
        ],
        "稀有度": 5,
        "画师": "竜崎いち"
    },
    {
        "职业": "重装",
        "子职业": "决战者",
        "名字": "极光",
        "阵营": [
            "喀兰贸易",
            "谢拉格"
        ],
        "种族": [
            "乌萨斯"
        ],
        "稀有度": 4,
        "画师": "LAL!ROLE"
    },
    {
        "职业": "术师",
        "子职业": "驭械术师",
        "名字": "耶拉",
        "阵营": [
            "喀兰贸易",
            "谢拉格"
        ],
        "种族": [
            "未公开"
        ],
        "稀有度": 4,
        "画师": "竜崎いち"
    },
    {
        "职业": "近卫",
        "子职业": "无畏者",
        "名字": "耀骑士临光",
        "阵营": [
            "卡西米尔"
        ],
        "种族": [
            "库兰塔"
        ],
        "稀有度": 5,
        "画师": "竜崎いち"
    },
    {
        "职业": "先锋",
        "子职业": "尖兵",
        "名字": "焰尾",
        "阵营": [
            "红松骑士团",
            "卡西米尔"
        ],
        "种族": [
            "札拉克"
        ],
        "稀有度": 5,
        "画师": "NoriZC"
    },
    {
        "职业": "术师",
        "子职业": "轰击术师",
        "名字": "蚀清",
        "阵营": [
            "哥伦比亚"
        ],
        "种族": [
            "斐迪亚"
        ],
        "稀有度": 4,
        "画师": "Jacknife"
    },
    {
        "职业": "先锋",
        "子职业": "冲锋手",
        "名字": "野鬃",
        "阵营": [
            "红松骑士团",
            "卡西米尔"
        ],
        "种族": [
            "库兰塔"
        ],
        "稀有度": 4,
        "画师": "NoriZC"
    },
    {
        "职业": "医疗",
        "子职业": "行医",
        "名字": "蜜莓",
        "阵营": [
            "雷姆必拓"
        ],
        "种族": [
            "札拉克"
        ],
        "稀有度": 4,
        "画师": "Liyu黎"
    },
    {
        "职业": "术师",
        "子职业": "链术师",
        "名字": "布丁",
        "阵营": [
            "哥伦比亚"
        ],
        "种族": [
            "阿戈尔"
        ],
        "稀有度": 3,
        "画师": "折射镜"
    },
    {
        "职业": "狙击",
        "子职业": "速射手",
        "名字": "正义骑士号",
        "阵营": [
            "红松骑士团",
            "卡西米尔"
        ],
        "种族": [
            ""
        ],
        "稀有度": 0,
        "画师": "NoriZC"
    },
    {
        "职业": "狙击",
        "子职业": "神射手",
        "名字": "远牙",
        "阵营": [
            "红松骑士团",
            "卡西米尔"
        ],
        "种族": [
            "黎博利"
        ],
        "稀有度": 5,
        "画师": "NoriZC"
    },
    {
        "职业": "重装",
        "子职业": "要塞",
        "名字": "灰毫",
        "阵营": [
            "红松骑士团",
            "卡西米尔"
        ],
        "种族": [
            "札拉克"
        ],
        "稀有度": 4,
        "画师": "NoriZC"
    },
    {
        "职业": "先锋",
        "子职业": "执旗手",
        "名字": "琴柳",
        "阵营": [
            "维多利亚"
        ],
        "种族": [
            "瓦伊凡"
        ],
        "稀有度": 5,
        "画师": "下野宏铭"
    },
    {
        "职业": "医疗",
        "子职业": "行医",
        "名字": "桑葚",
        "阵营": [
            "炎"
        ],
        "种族": [
            "黎博利"
        ],
        "稀有度": 4,
        "画师": "Jacknife"
    },
    {
        "职业": "辅助",
        "子职业": "工匠",
        "名字": "罗比菈塔",
        "阵营": [
            "哥伦比亚"
        ],
        "种族": [
            "阿纳缇"
        ],
        "稀有度": 3,
        "画师": "IRIS_呓"
    },
    {
        "职业": "狙击",
        "子职业": "散射手",
        "名字": "假日威龙陈",
        "阵营": [
            "罗德岛"
        ],
        "种族": [
            "龙"
        ],
        "稀有度": 5,
        "画师": "唯@W"
    },
    {
        "职业": "特种",
        "子职业": "伏击客",
        "名字": "水月",
        "阵营": [
            "东"
        ],
        "种族": [
            "阿戈尔"
        ],
        "稀有度": 5,
        "画师": "Namie"
    },
    {
        "职业": "近卫",
        "子职业": "收割者",
        "名字": "羽毛笔",
        "阵营": [
            "玻利瓦尔"
        ],
        "种族": [
            "黎博利"
        ],
        "稀有度": 4,
        "画师": "LAL!ROLE"
    },
    {
        "职业": "近卫",
        "子职业": "解放者",
        "名字": "龙舌兰",
        "阵营": [
            "玻利瓦尔"
        ],
        "种族": [
            "佩洛"
        ],
        "稀有度": 4,
        "画师": "一千"
    },
    {
        "职业": "近卫",
        "子职业": "教官",
        "名字": "帕拉斯",
        "阵营": [
            "米诺斯"
        ],
        "种族": [
            "丰蹄"
        ],
        "稀有度": 5,
        "画师": "aZLing4"
    },
    {
        "职业": "术师",
        "子职业": "阵法术师",
        "名字": "卡涅利安",
        "阵营": [
            "莱塔尼亚"
        ],
        "种族": [
            "卡普里尼"
        ],
        "稀有度": 5,
        "画师": "カワグチ"
    },
    {
        "职业": "特种",
        "子职业": "伏击客",
        "名字": "绮良",
        "阵营": [
            "东"
        ],
        "种族": [
            "阿戈尔"
        ],
        "稀有度": 4,
        "画师": "我妻洛酱"
    },
    {
        "职业": "特种",
        "子职业": "傀儡师",
        "名字": "贝娜",
        "阵营": [
            "维多利亚"
        ],
        "种族": [
            "卡普里尼"
        ],
        "稀有度": 4,
        "画师": "下野宏铭"
    },
    {
        "职业": "术师",
        "子职业": "秘术师",
        "名字": "深靛",
        "阵营": [
            "伊比利亚"
        ],
        "种族": [
            "斐迪亚"
        ],
        "稀有度": 3,
        "画师": "织布机loom"
    },
    {
        "职业": "辅助",
        "子职业": "吟游者",
        "名字": "浊心斯卡蒂",
        "阵营": [
            "阿戈尔"
        ],
        "种族": [
            "未公开"
        ],
        "稀有度": 5,
        "画师": "alchemaniac"
    },
    {
        "职业": "医疗",
        "子职业": "医师",
        "名字": "凯尔希",
        "阵营": [
            "罗德岛"
        ],
        "种族": [
            "菲林"
        ],
        "稀有度": 5,
        "画师": "唯@W"
    },
    {
        "职业": "特种",
        "子职业": "钩索师",
        "名字": "歌蕾蒂娅",
        "阵营": [
            "深海猎人",
            "阿戈尔"
        ],
        "种族": [
            "未公开"
        ],
        "稀有度": 5,
        "画师": "Chuzenji"
    },
    {
        "职业": "近卫",
        "子职业": "武者",
        "名字": "赤冬",
        "阵营": [
            "东"
        ],
        "种族": [
            "阿戈尔"
        ],
        "稀有度": 4,
        "画师": "熊太"
    },
    {
        "职业": "术师",
        "子职业": "链术师",
        "名字": "异客",
        "阵营": [
            "萨尔贡"
        ],
        "种族": [
            "黎博利"
        ],
        "稀有度": 5,
        "画师": "Skade"
    },
    {
        "职业": "狙击",
        "子职业": "攻城手",
        "名字": "熔泉",
        "阵营": [
            "维多利亚"
        ],
        "种族": [
            "瓦伊凡"
        ],
        "稀有度": 4,
        "画师": "山×2"
    },
    {
        "职业": "重装",
        "子职业": "铁卫",
        "名字": "暴雨",
        "阵营": [
            "罗德岛"
        ],
        "种族": [
            "库兰塔"
        ],
        "稀有度": 4,
        "画师": "aZLing4"
    },
    {
        "职业": "狙击",
        "子职业": "速射手",
        "名字": "灰烬",
        "阵营": [
            "彩虹小队"
        ],
        "种族": [
            "未知"
        ],
        "稀有度": 5,
        "画师": "Ubisoft"
    },
    {
        "职业": "特种",
        "子职业": "陷阱师",
        "名字": "霜华",
        "阵营": [
            "彩虹小队"
        ],
        "种族": [
            "未知"
        ],
        "稀有度": 4,
        "画师": "Ubisoft"
    },
    {
        "职业": "重装",
        "子职业": "铁卫",
        "名字": "闪击",
        "阵营": [
            "彩虹小队"
        ],
        "种族": [
            "未知"
        ],
        "稀有度": 4,
        "画师": "Ubisoft"
    },
    {
        "职业": "近卫",
        "子职业": "剑豪",
        "名字": "战车",
        "阵营": [
            "彩虹小队"
        ],
        "种族": [
            "未知"
        ],
        "稀有度": 4,
        "画师": "Ubisoft"
    },
    {
        "职业": "术师",
        "子职业": "扩散术师",
        "名字": "夕",
        "阵营": [
            "炎",
            "岁"
        ],
        "种族": [
            "未公开"
        ],
        "稀有度": 5,
        "画师": "幻象黑兔"
    },
    {
        "职业": "先锋",
        "子职业": "尖兵",
        "名字": "嵯峨",
        "阵营": [
            "东"
        ],
        "种族": [
            "佩洛"
        ],
        "稀有度": 5,
        "画师": "多元菌"
    },
    {
        "职业": "特种",
        "子职业": "行商",
        "名字": "乌有",
        "阵营": [
            "炎"
        ],
        "种族": [
            "黎博利"
        ],
        "稀有度": 4,
        "画师": "Skade"
    },
    {
        "职业": "术师",
        "子职业": "扩散术师",
        "名字": "炎狱炎熔",
        "阵营": [
            "罗德岛"
        ],
        "种族": [
            "萨卡兹"
        ],
        "稀有度": 4,
        "画师": "下野宏铭"
    },
    {
        "职业": "医疗",
        "子职业": "医师",
        "名字": "图耶",
        "阵营": [
            "萨尔贡"
        ],
        "种族": [
            "丰蹄"
        ],
        "稀有度": 4,
        "画师": "aZLing4"
    },
    {
        "职业": "狙击",
        "子职业": "速射手",
        "名字": "空弦",
        "阵营": [
            "拉特兰"
        ],
        "种族": [
            "黎博利"
        ],
        "稀有度": 5,
        "画师": "alchemaniac"
    },
    {
        "职业": "术师",
        "子职业": "秘术师",
        "名字": "爱丽丝",
        "阵营": [
            "维多利亚"
        ],
        "种族": [
            "菲林"
        ],
        "稀有度": 4,
        "画师": "下野宏铭"
    },
    {
        "职业": "先锋",
        "子职业": "战术家",
        "名字": "豆苗",
        "阵营": [
            "哥伦比亚"
        ],
        "种族": [
            "瑞柏巴"
        ],
        "稀有度": 3,
        "画师": "一千"
    },
    {
        "职业": "近卫",
        "子职业": "斗士",
        "名字": "山",
        "阵营": [
            "哥伦比亚"
        ],
        "种族": [
            "菲林"
        ],
        "稀有度": 5,
        "画师": "WincalBlanke"
    },
    {
        "职业": "特种",
        "子职业": "处决者",
        "名字": "卡夫卡",
        "阵营": [
            "哥伦比亚"
        ],
        "种族": [
            "黎博利"
        ],
        "稀有度": 4,
        "画师": "NoriZC"
    },
    {
        "职业": "特种",
        "子职业": "陷阱师",
        "名字": "罗宾",
        "阵营": [
            "哥伦比亚"
        ],
        "种族": [
            "阿纳缇"
        ],
        "稀有度": 4,
        "画师": "aZLing4"
    },
    {
        "职业": "狙击",
        "子职业": "散射手",
        "名字": "松果",
        "阵营": [
            "哥伦比亚"
        ],
        "种族": [
            "黎博利"
        ],
        "稀有度": 3,
        "画师": "TrNyteal"
    },
    {
        "职业": "近卫",
        "子职业": "术战者",
        "名字": "阿米娅(近卫)",
        "阵营": [
            "罗德岛"
        ],
        "种族": [
            "卡特斯",
            "奇美拉"
        ],
        "稀有度": 4,
        "画师": "唯@W"
    },
    {
        "职业": "狙击",
        "子职业": "投掷手",
        "名字": "迷迭香",
        "阵营": [
            "罗德岛",
            "精英干员"
        ],
        "种族": [
            "菲林"
        ],
        "稀有度": 5,
        "画师": "唯@W"
    },
    {
        "职业": "重装",
        "子职业": "不屈者",
        "名字": "泥岩",
        "阵营": [
            "罗德岛"
        ],
        "种族": [
            "萨卡兹"
        ],
        "稀有度": 5,
        "画师": "m9nokuro"
    },
    {
        "职业": "医疗",
        "子职业": "疗养师",
        "名字": "絮雨",
        "阵营": [
            "伊比利亚"
        ],
        "种族": [
            "阿戈尔"
        ],
        "稀有度": 4,
        "画师": "Chuzenji"
    },
    {
        "职业": "近卫",
        "子职业": "斗士",
        "名字": "杰克",
        "阵营": [
            "哥伦比亚"
        ],
        "种族": [
            "佩洛"
        ],
        "稀有度": 3,
        "画师": "Nagu"
    },
    {
        "职业": "重装",
        "子职业": "守护者",
        "名字": "瑕光",
        "阵营": [
            "卡西米尔"
        ],
        "种族": [
            "库兰塔"
        ],
        "稀有度": 5,
        "画师": "竜崎いち"
    },
    {
        "职业": "狙击",
        "子职业": "散射手",
        "名字": "奥斯塔",
        "阵营": [
            "贾维团伙",
            "叙拉古"
        ],
        "种族": [
            "鲁珀"
        ],
        "稀有度": 4,
        "画师": "Infukun"
    },
    {
        "职业": "近卫",
        "子职业": "教官",
        "名字": "鞭刃",
        "阵营": [
            "卡西米尔"
        ],
        "种族": [
            "库兰塔"
        ],
        "稀有度": 4,
        "画师": "竜崎いち"
    },
    {
        "职业": "重装",
        "子职业": "铁卫",
        "名字": "泡泡",
        "阵营": [
            "萨尔贡"
        ],
        "种族": [
            "塞拉托"
        ],
        "稀有度": 3,
        "画师": "Cenm0"
    },
    {
        "职业": "近卫",
        "子职业": "术战者",
        "名字": "史尔特尔",
        "阵营": [
            "罗德岛"
        ],
        "种族": [
            "萨卡兹"
        ],
        "稀有度": 5,
        "画师": "Ask"
    },
    {
        "职业": "狙击",
        "子职业": "速射手",
        "名字": "四月",
        "阵营": [
            "雷姆必拓"
        ],
        "种族": [
            "卡特斯"
        ],
        "稀有度": 4,
        "画师": "れおえん"
    },
    {
        "职业": "术师",
        "子职业": "阵法术师",
        "名字": "薄绿",
        "阵营": [
            "维多利亚"
        ],
        "种族": [
            "菲林"
        ],
        "稀有度": 4,
        "画师": "ヌードル"
    },
    {
        "职业": "近卫",
        "子职业": "领主",
        "名字": "芳汀",
        "阵营": [
            "拉特兰"
        ],
        "种族": [
            "萨科塔"
        ],
        "稀有度": 3,
        "画师": "umo_yszx"
    },
    {
        "职业": "重装",
        "子职业": "决战者",
        "名字": "森蚺",
        "阵营": [
            "萨尔贡"
        ],
        "种族": [
            "斐迪亚"
        ],
        "稀有度": 5,
        "画师": "Liduke"
    },
    {
        "职业": "近卫",
        "子职业": "斗士",
        "名字": "燧石",
        "阵营": [
            "萨尔贡"
        ],
        "种族": [
            "黎博利"
        ],
        "稀有度": 4,
        "画师": "aZLing4"
    },
    {
        "职业": "术师",
        "子职业": "中坚术师",
        "名字": "特米米",
        "阵营": [
            "萨尔贡"
        ],
        "种族": [
            "阿达克利斯"
        ],
        "稀有度": 4,
        "画师": "Chuzenji"
    },
    {
        "职业": "狙击",
        "子职业": "重射手",
        "名字": "酸糖",
        "阵营": [
            "哥伦比亚"
        ],
        "种族": [
            "黎博利"
        ],
        "稀有度": 3,
        "画师": "Lanzi"
    },
    {
        "职业": "近卫",
        "子职业": "领主",
        "名字": "棘刺",
        "阵营": [
            "伊比利亚"
        ],
        "种族": [
            "阿戈尔"
        ],
        "稀有度": 5,
        "画师": "幻象黑兔"
    },
    {
        "职业": "狙击",
        "子职业": "神射手",
        "名字": "安哲拉",
        "阵营": [
            "深海猎人",
            "阿戈尔"
        ],
        "种族": [
            "阿戈尔"
        ],
        "稀有度": 4,
        "画师": "LLC"
    },
    {
        "职业": "特种",
        "子职业": "行商",
        "名字": "孑",
        "阵营": [
            "炎",
            "龙门"
        ],
        "种族": [
            "乌萨斯"
        ],
        "稀有度": 3,
        "画师": "阿鬼"
    },
    {
        "职业": "先锋",
        "子职业": "尖兵",
        "名字": "贾维",
        "阵营": [
            "贾维团伙",
            "叙拉古"
        ],
        "种族": [
            "沃尔珀"
        ],
        "稀有度": 4,
        "画师": "Infukun"
    },
    {
        "职业": "术师",
        "子职业": "阵法术师",
        "名字": "蜜蜡",
        "阵营": [
            "萨尔贡"
        ],
        "种族": [
            "卡普里尼"
        ],
        "稀有度": 4,
        "画师": "カワグチ"
    },
    {
        "职业": "辅助",
        "子职业": "召唤师",
        "名字": "稀音",
        "阵营": [
            "萨尔贡"
        ],
        "种族": [
            "皮洛萨"
        ],
        "稀有度": 4,
        "画师": "アシマ"
    },
    {
        "职业": "辅助",
        "子职业": "凝滞师",
        "名字": "铃兰",
        "阵营": [
            "叙拉古"
        ],
        "种族": [
            "沃尔珀"
        ],
        "稀有度": 5,
        "画师": "将"
    },
    {
        "职业": "近卫",
        "子职业": "领主",
        "名字": "断崖",
        "阵营": [
            "雷姆必拓"
        ],
        "种族": [
            "卡特斯"
        ],
        "稀有度": 4,
        "画师": "NoriZC"
    },
    {
        "职业": "医疗",
        "子职业": "医师",
        "名字": "亚叶",
        "阵营": [
            "罗德岛"
        ],
        "种族": [
            "菲林"
        ],
        "稀有度": 4,
        "画师": "m9nokuro"
    },
    {
        "职业": "术师",
        "子职业": "驭械术师",
        "名字": "卡达",
        "阵营": [
            "罗德岛"
        ],
        "种族": [
            "札拉克"
        ],
        "稀有度": 3,
        "画师": "れおえん"
    },
    {
        "职业": "狙击",
        "子职业": "攻城手",
        "名字": "早露",
        "阵营": [
            "乌萨斯学生自治团",
            "乌萨斯"
        ],
        "种族": [
            "乌萨斯"
        ],
        "稀有度": 5,
        "画师": "Skade"
    },
    {
        "职业": "术师",
        "子职业": "扩散术师",
        "名字": "莱恩哈特",
        "阵营": [
            "雷姆必拓"
        ],
        "种族": [
            "卡特斯"
        ],
        "稀有度": 4,
        "画师": "野崎つばた"
    },
    {
        "职业": "术师",
        "子职业": "中坚术师",
        "名字": "苦艾",
        "阵营": [
            "乌萨斯"
        ],
        "种族": [
            "乌萨斯"
        ],
        "稀有度": 4,
        "画师": "aZLing4"
    },
    {
        "职业": "辅助",
        "子职业": "凝滞师",
        "名字": "波登可",
        "阵营": [
            "罗德岛"
        ],
        "种族": [
            "佩洛"
        ],
        "稀有度": 3,
        "画师": "アシマ"
    },
    {
        "职业": "辅助",
        "子职业": "护佑者",
        "名字": "月禾",
        "阵营": [
            "东"
        ],
        "种族": [
            "埃拉菲亚"
        ],
        "稀有度": 4,
        "画师": "上埜"
    },
    {
        "职业": "重装",
        "子职业": "驭法铁卫",
        "名字": "石棉",
        "阵营": [
            "雷姆必拓"
        ],
        "种族": [
            "萨弗拉"
        ],
        "稀有度": 4,
        "画师": "TEAM EXPNDR"
    },
    {
        "职业": "狙击",
        "子职业": "炮手",
        "名字": "W",
        "阵营": [
            "巴别塔"
        ],
        "种族": [
            "萨卡兹"
        ],
        "稀有度": 5,
        "画师": "Liduke"
    },
    {
        "职业": "特种",
        "子职业": "推击手",
        "名字": "温蒂",
        "阵营": [
            "罗德岛"
        ],
        "种族": [
            "阿戈尔"
        ],
        "稀有度": 5,
        "画师": "下野宏铭"
    },
    {
        "职业": "先锋",
        "子职业": "执旗手",
        "名字": "极境",
        "阵营": [
            "罗德岛"
        ],
        "种族": [
            "黎博利"
        ],
        "稀有度": 4,
        "画师": "Skade"
    },
    {
        "职业": "特种",
        "子职业": "处决者",
        "名字": "THRM-EX",
        "阵营": [
            "罗德岛"
        ],
        "种族": [
            ""
        ],
        "稀有度": 0,
        "画师": "TOKI"
    },
    {
        "职业": "特种",
        "子职业": "处决者",
        "名字": "傀影",
        "阵营": [
            "维多利亚"
        ],
        "种族": [
            "菲林"
        ],
        "稀有度": 5,
        "画师": "Skade"
    },
    {
        "职业": "辅助",
        "子职业": "削弱者",
        "名字": "巫恋",
        "阵营": [
            "叙拉古"
        ],
        "种族": [
            "沃尔珀"
        ],
        "稀有度": 4,
        "画师": "下野宏铭"
    },
    {
        "职业": "近卫",
        "子职业": "术战者",
        "名字": "铸铁",
        "阵营": [
            "米诺斯"
        ],
        "种族": [
            "丰蹄"
        ],
        "稀有度": 4,
        "画师": "将"
    },
    {
        "职业": "近卫",
        "子职业": "剑豪",
        "名字": "刻刀",
        "阵营": [
            "哥伦比亚"
        ],
        "种族": [
            "沃尔珀"
        ],
        "稀有度": 3,
        "画师": "下野宏铭"
    },
    {
        "职业": "近卫",
        "子职业": "无畏者",
        "名字": "断罪者",
        "阵营": [
            "米诺斯"
        ],
        "种族": [
            "未知（疑似黎博利）"
        ],
        "稀有度": 3,
        "画师": "TOMATO"
    },
    {
        "职业": "先锋",
        "子职业": "冲锋手",
        "名字": "风笛",
        "阵营": [
            "维多利亚"
        ],
        "种族": [
            "瓦伊凡"
        ],
        "稀有度": 5,
        "画师": "u介"
    },
    {
        "职业": "狙击",
        "子职业": "炮手",
        "名字": "慑砂",
        "阵营": [
            "萨尔贡"
        ],
        "种族": [
            "瓦伊凡"
        ],
        "稀有度": 4,
        "画师": "竜崎いち"
    },
    {
        "职业": "近卫",
        "子职业": "剑豪",
        "名字": "柏喙",
        "阵营": [
            "萨米"
        ],
        "种族": [
            "黎博利"
        ],
        "稀有度": 4,
        "画师": "RAYVON"
    },
    {
        "职业": "近卫",
        "子职业": "武者",
        "名字": "宴",
        "阵营": [
            "东"
        ],
        "种族": [
            "不明"
        ],
        "稀有度": 3,
        "画师": "釜飯轟々丸"
    },
    {
        "职业": "医疗",
        "子职业": "疗养师",
        "名字": "清流",
        "阵营": [
            "炎"
        ],
        "种族": [
            "阿戈尔"
        ],
        "稀有度": 3,
        "画师": "唯@W"
    },
    {
        "职业": "术师",
        "子职业": "中坚术师",
        "名字": "刻俄柏",
        "阵营": [
            "罗德岛"
        ],
        "种族": [
            "佩洛"
        ],
        "稀有度": 5,
        "画师": "LM7"
    },
    {
        "职业": "术师",
        "子职业": "链术师",
        "名字": "惊蛰",
        "阵营": [
            "炎"
        ],
        "种族": [
            "麒麟"
        ],
        "稀有度": 4,
        "画师": "竜崎いち"
    },
    {
        "职业": "重装",
        "子职业": "铁卫",
        "名字": "年",
        "阵营": [
            "炎",
            "岁"
        ],
        "种族": [
            "未公开"
        ],
        "稀有度": 5,
        "画师": "幻象黑兔"
    },
    {
        "职业": "特种",
        "子职业": "怪杰",
        "名字": "阿",
        "阵营": [
            "鲤氏侦探事务所",
            "炎",
            "龙门"
        ],
        "种族": [
            "菲林"
        ],
        "稀有度": 5,
        "画师": "KuroBlood"
    },
    {
        "职业": "重装",
        "子职业": "守护者",
        "名字": "吽",
        "阵营": [
            "鲤氏侦探事务所",
            "炎",
            "龙门"
        ],
        "种族": [
            "佩洛"
        ],
        "稀有度": 4,
        "画师": "KuroBlood"
    },
    {
        "职业": "特种",
        "子职业": "钩索师",
        "名字": "雪雉",
        "阵营": [
            "炎",
            "龙门"
        ],
        "种族": [
            "黎博利"
        ],
        "稀有度": 4,
        "画师": "NoriZC"
    },
    {
        "职业": "近卫",
        "子职业": "强攻手",
        "名字": "煌",
        "阵营": [
            "罗德岛",
            "精英干员"
        ],
        "种族": [
            "菲林"
        ],
        "稀有度": 5,
        "画师": "唯@W"
    },
    {
        "职业": "狙击",
        "子职业": "速射手",
        "名字": "灰喉",
        "阵营": [
            "罗德岛"
        ],
        "种族": [
            "黎博利"
        ],
        "稀有度": 4,
        "画师": "m9nokuro"
    },
    {
        "职业": "狙击",
        "子职业": "神射手",
        "名字": "安比尔",
        "阵营": [
            "拉特兰"
        ],
        "种族": [
            "萨科塔"
        ],
        "稀有度": 3,
        "画师": "m9nokuro"
    },
    {
        "职业": "近卫",
        "子职业": "强攻手",
        "名字": "布洛卡",
        "阵营": [
            "贾维团伙",
            "叙拉古"
        ],
        "种族": [
            "菲林"
        ],
        "稀有度": 4,
        "画师": "Infukun"
    },
    {
        "职业": "先锋",
        "子职业": "冲锋手",
        "名字": "苇草",
        "阵营": [
            "维多利亚"
        ],
        "种族": [
            "德拉克"
        ],
        "稀有度": 4,
        "画师": "STAR影法师"
    },
    {
        "职业": "术师",
        "子职业": "扩散术师",
        "名字": "莫斯提马",
        "阵营": [
            "拉特兰"
        ],
        "种族": [
            "未公开"
        ],
        "稀有度": 5,
        "画师": "幻象黑兔"
    },
    {
        "职业": "特种",
        "子职业": "处决者",
        "名字": "槐琥",
        "阵营": [
            "鲤氏侦探事务所",
            "炎",
            "龙门"
        ],
        "种族": [
            "菲林"
        ],
        "稀有度": 4,
        "画师": "KuroBlood"
    },
    {
        "职业": "重装",
        "子职业": "铁卫",
        "名字": "拜松",
        "阵营": [
            "炎",
            "龙门"
        ],
        "种族": [
            "丰蹄"
        ],
        "稀有度": 4,
        "画师": "竜崎いち"
    },
    {
        "职业": "狙击",
        "子职业": "速射手",
        "名字": "梅",
        "阵营": [
            "维多利亚"
        ],
        "种族": [
            "黎博利"
        ],
        "稀有度": 3,
        "画师": "下野宏铭"
    },
    {
        "职业": "医疗",
        "子职业": "群愈师",
        "名字": "微风",
        "阵营": [
            "维多利亚"
        ],
        "种族": [
            "沃尔珀"
        ],
        "稀有度": 4,
        "画师": "藻"
    },
    {
        "职业": "特种",
        "子职业": "伏击客",
        "名字": "伊桑",
        "阵营": [
            "罗德岛"
        ],
        "种族": [
            "萨弗拉"
        ],
        "稀有度": 3,
        "画师": "阿鬼"
    },
    {
        "职业": "辅助",
        "子职业": "召唤师",
        "名字": "麦哲伦",
        "阵营": [
            "莱茵生命",
            "哥伦比亚"
        ],
        "种族": [
            "黎博利"
        ],
        "稀有度": 5,
        "画师": "NoriZC"
    },
    {
        "职业": "狙击",
        "子职业": "散射手",
        "名字": "送葬人",
        "阵营": [
            "拉特兰"
        ],
        "种族": [
            "萨科塔"
        ],
        "稀有度": 4,
        "画师": "Skade"
    },
    {
        "职业": "近卫",
        "子职业": "无畏者",
        "名字": "炎客",
        "阵营": [
            "罗德岛"
        ],
        "种族": [
            "萨卡兹"
        ],
        "稀有度": 4,
        "画师": "虎三"
    },
    {
        "职业": "狙击",
        "子职业": "速射手",
        "名字": "红云",
        "阵营": [
            "叙拉古"
        ],
        "种族": [
            "沃尔珀"
        ],
        "稀有度": 3,
        "画师": "KENTllaall"
    },
    {
        "职业": "重装",
        "子职业": "驭法铁卫",
        "名字": "坚雷",
        "阵营": [
            "罗德岛"
        ],
        "种族": [
            "沃尔珀"
        ],
        "稀有度": 3,
        "画师": "下野宏铭"
    },
    {
        "职业": "近卫",
        "子职业": "武者",
        "名字": "赫拉格",
        "阵营": [
            "乌萨斯"
        ],
        "种族": [
            "黎博利"
        ],
        "稀有度": 5,
        "画师": "Liduke"
    },
    {
        "职业": "近卫",
        "子职业": "术战者",
        "名字": "星极",
        "阵营": [
            "哥伦比亚"
        ],
        "种族": [
            "黎博利"
        ],
        "稀有度": 4,
        "画师": "YUJI"
    },
    {
        "职业": "先锋",
        "子职业": "执旗手",
        "名字": "桃金娘",
        "阵营": [
            "罗德岛"
        ],
        "种族": [
            "杜林"
        ],
        "稀有度": 3,
        "画师": "咩煲"
    },
    {
        "职业": "狙击",
        "子职业": "重射手",
        "名字": "黑",
        "阵营": [
            "汐斯塔",
            "哥伦比亚"
        ],
        "种族": [
            "菲林"
        ],
        "稀有度": 5,
        "画师": "Liduke"
    },
    {
        "职业": "辅助",
        "子职业": "凝滞师",
        "名字": "格劳克斯",
        "阵营": [
            "伊比利亚"
        ],
        "种族": [
            "未公开"
        ],
        "稀有度": 4,
        "画师": "下野宏铭"
    },
    {
        "职业": "医疗",
        "子职业": "疗养师",
        "名字": "锡兰",
        "阵营": [
            "汐斯塔",
            "哥伦比亚"
        ],
        "种族": [
            "黎博利"
        ],
        "稀有度": 4,
        "画师": "Skade"
    },
    {
        "职业": "医疗",
        "子职业": "医师",
        "名字": "苏苏洛",
        "阵营": [
            "罗德岛"
        ],
        "种族": [
            "沃尔珀"
        ],
        "稀有度": 3,
        "画师": "将"
    },
    {
        "职业": "近卫",
        "子职业": "剑豪",
        "名字": "陈",
        "阵营": [
            "龙门近卫局",
            "炎",
            "龙门"
        ],
        "种族": [
            "龙"
        ],
        "稀有度": 5,
        "画师": "唯@W"
    },
    {
        "职业": "近卫",
        "子职业": "教官",
        "名字": "诗怀雅",
        "阵营": [
            "龙门近卫局",
            "炎",
            "龙门"
        ],
        "种族": [
            "菲林"
        ],
        "稀有度": 4,
        "画师": "下野宏铭"
    },
    {
        "职业": "术师",
        "子职业": "扩散术师",
        "名字": "格雷伊",
        "阵营": [
            "玻利瓦尔"
        ],
        "种族": [
            "佩洛"
        ],
        "稀有度": 3,
        "画师": "我妻洛酱"
    },
    {
        "职业": "重装",
        "子职业": "守护者",
        "名字": "斑点",
        "阵营": [
            "行动预备组A6",
            "罗德岛"
        ],
        "种族": [
            "瑞柏巴"
        ],
        "稀有度": 2,
        "画师": "阿鬼"
    },
    {
        "职业": "近卫",
        "子职业": "强攻手",
        "名字": "泡普卡",
        "阵营": [
            "行动预备组A6",
            "罗德岛"
        ],
        "种族": [
            "卡特斯"
        ],
        "稀有度": 2,
        "画师": "下野宏铭"
    },
    {
        "职业": "近卫",
        "子职业": "无畏者",
        "名字": "斯卡蒂",
        "阵营": [
            "深海猎人",
            "阿戈尔"
        ],
        "种族": [
            "未公开"
        ],
        "稀有度": 5,
        "画师": "alchemaniac"
    },
    {
        "职业": "先锋",
        "子职业": "冲锋手",
        "名字": "格拉尼",
        "阵营": [
            "维多利亚"
        ],
        "种族": [
            "库兰塔"
        ],
        "稀有度": 4,
        "画师": "alchemaniac"
    },
    {
        "职业": "术师",
        "子职业": "中坚术师",
        "名字": "夜魔",
        "阵营": [
            "维多利亚"
        ],
        "种族": [
            "菲林"
        ],
        "稀有度": 4,
        "画师": "Lpip"
    },
    {
        "职业": "近卫",
        "子职业": "斗士",
        "名字": "猎蜂",
        "阵营": [
            "乌萨斯"
        ],
        "种族": [
            "乌萨斯"
        ],
        "稀有度": 3,
        "画师": "toast"
    },
    {
        "职业": "近卫",
        "子职业": "领主",
        "名字": "月见夜",
        "阵营": [
            "行动预备组A6",
            "罗德岛"
        ],
        "种族": [
            "萨卡兹"
        ],
        "稀有度": 2,
        "画师": "竜崎いち"
    },
    {
        "职业": "狙击",
        "子职业": "炮手",
        "名字": "空爆",
        "阵营": [
            "行动预备组A6",
            "罗德岛"
        ],
        "种族": [
            "库兰塔"
        ],
        "稀有度": 2,
        "画师": "m9nokuro"
    },
    {
        "职业": "近卫",
        "子职业": "强攻手",
        "名字": "暴行",
        "阵营": [
            "雷姆必拓"
        ],
        "种族": [
            "卡特斯"
        ],
        "稀有度": 4,
        "画师": "TOKI"
    },
    {
        "职业": "近卫",
        "子职业": "领主",
        "名字": "银灰",
        "阵营": [
            "喀兰贸易",
            "谢拉格"
        ],
        "种族": [
            "菲林"
        ],
        "稀有度": 5,
        "画师": "竜崎いち"
    },
    {
        "职业": "重装",
        "子职业": "守护者",
        "名字": "塞雷娅",
        "阵营": [
            "莱茵生命",
            "哥伦比亚"
        ],
        "种族": [
            "瓦伊凡"
        ],
        "稀有度": 5,
        "画师": "NoriZC"
    },
    {
        "职业": "重装",
        "子职业": "铁卫",
        "名字": "星熊",
        "阵营": [
            "龙门近卫局",
            "炎",
            "龙门"
        ],
        "种族": [
            "鬼"
        ],
        "稀有度": 5,
        "画师": "Infukun"
    },
    {
        "职业": "医疗",
        "子职业": "群愈师",
        "名字": "夜莺",
        "阵营": [
            "使徒"
        ],
        "种族": [
            "萨卡兹"
        ],
        "稀有度": 5,
        "画师": "Skade"
    },
    {
        "职业": "医疗",
        "子职业": "医师",
        "名字": "闪灵",
        "阵营": [
            "使徒"
        ],
        "种族": [
            "萨卡兹"
        ],
        "稀有度": 5,
        "画师": "竜崎いち"
    },
    {
        "职业": "辅助",
        "子职业": "凝滞师",
        "名字": "安洁莉娜",
        "阵营": [
            "叙拉古"
        ],
        "种族": [
            "沃尔珀"
        ],
        "稀有度": 5,
        "画师": "LM7"
    },
    {
        "职业": "术师",
        "子职业": "中坚术师",
        "名字": "艾雅法拉",
        "阵营": [
            "莱塔尼亚"
        ],
        "种族": [
            "卡普里尼"
        ],
        "稀有度": 5,
        "画师": "Anmi"
    },
    {
        "职业": "术师",
        "子职业": "轰击术师",
        "名字": "伊芙利特",
        "阵营": [
            "莱茵生命",
            "哥伦比亚"
        ],
        "种族": [
            "萨卡兹"
        ],
        "稀有度": 5,
        "画师": "NoriZC"
    },
    {
        "职业": "先锋",
        "子职业": "尖兵",
        "名字": "推进之王",
        "阵营": [
            "格拉斯哥帮",
            "维多利亚"
        ],
        "种族": [
            "阿斯兰"
        ],
        "稀有度": 5,
        "画师": "Infukun"
    },
    {
        "职业": "狙击",
        "子职业": "速射手",
        "名字": "能天使",
        "阵营": [
            "企鹅物流",
            "炎",
            "龙门"
        ],
        "种族": [
            "萨科塔"
        ],
        "稀有度": 5,
        "画师": "幻象黑兔"
    },
    {
        "职业": "特种",
        "子职业": "推击手",
        "名字": "食铁兽",
        "阵营": [
            "炎",
            "龙门"
        ],
        "种族": [
            "乌萨斯"
        ],
        "稀有度": 4,
        "画师": "RAN"
    },
    {
        "职业": "特种",
        "子职业": "伏击客",
        "名字": "狮蝎",
        "阵营": [
            "萨尔贡"
        ],
        "种族": [
            "曼提柯"
        ],
        "稀有度": 4,
        "画师": "竜崎いち"
    },
    {
        "职业": "辅助",
        "子职业": "吟游者",
        "名字": "空",
        "阵营": [
            "企鹅物流",
            "炎",
            "龙门"
        ],
        "种族": [
            "因经纪公司要求不公开"
        ],
        "稀有度": 4,
        "画师": "幻象黑兔"
    },
    {
        "职业": "辅助",
        "子职业": "凝滞师",
        "名字": "真理",
        "阵营": [
            "乌萨斯学生自治团",
            "乌萨斯"
        ],
        "种族": [
            "乌萨斯"
        ],
        "稀有度": 4,
        "画师": "Skade"
    },
    {
        "职业": "辅助",
        "子职业": "削弱者",
        "名字": "初雪",
        "阵营": [
            "喀兰贸易",
            "谢拉格"
        ],
        "种族": [
            "菲林"
        ],
        "稀有度": 4,
        "画师": "竜崎いち"
    },
    {
        "职业": "特种",
        "子职业": "钩索师",
        "名字": "崖心",
        "阵营": [
            "喀兰贸易",
            "谢拉格"
        ],
        "种族": [
            "菲林"
        ],
        "稀有度": 4,
        "画师": "竜崎いち"
    },
    {
        "职业": "狙击",
        "子职业": "神射手",
        "名字": "守林人",
        "阵营": [
            "罗德岛"
        ],
        "种族": [
            "埃拉菲亚"
        ],
        "稀有度": 4,
        "画师": "aZLing4"
    },
    {
        "职业": "狙击",
        "子职业": "重射手",
        "名字": "普罗旺斯",
        "阵营": [
            "叙拉古"
        ],
        "种族": [
            "鲁珀"
        ],
        "稀有度": 4,
        "画师": "渣念"
    },
    {
        "职业": "重装",
        "子职业": "不屈者",
        "名字": "火神",
        "阵营": [
            "米诺斯"
        ],
        "种族": [
            "丰蹄"
        ],
        "稀有度": 4,
        "画师": "neco"
    },
    {
        "职业": "重装",
        "子职业": "铁卫",
        "名字": "可颂",
        "阵营": [
            "企鹅物流",
            "炎",
            "龙门"
        ],
        "种族": [
            "丰蹄"
        ],
        "稀有度": 4,
        "画师": "幻象黑兔"
    },
    {
        "职业": "重装",
        "子职业": "铁卫",
        "名字": "雷蛇",
        "阵营": [
            "黑钢国际",
            "哥伦比亚"
        ],
        "种族": [
            "瓦伊凡"
        ],
        "稀有度": 4,
        "画师": "TOKI"
    },
    {
        "职业": "特种",
        "子职业": "处决者",
        "名字": "红",
        "阵营": [
            "S.W.E.E.P",
            "罗德岛"
        ],
        "种族": [
            "鲁珀"
        ],
        "稀有度": 4,
        "画师": "Infukun"
    },
    {
        "职业": "重装",
        "子职业": "守护者",
        "名字": "临光",
        "阵营": [
            "使徒"
        ],
        "种族": [
            "库兰塔"
        ],
        "稀有度": 4,
        "画师": "竜崎いち"
    },
    {
        "职业": "医疗",
        "子职业": "医师",
        "名字": "华法琳",
        "阵营": [
            "罗德岛"
        ],
        "种族": [
            "萨卡兹"
        ],
        "稀有度": 4,
        "画师": "时辰"
    },
    {
        "职业": "医疗",
        "子职业": "医师",
        "名字": "赫默",
        "阵营": [
            "莱茵生命",
            "哥伦比亚"
        ],
        "种族": [
            "黎博利"
        ],
        "稀有度": 4,
        "画师": "NoriZC"
    },
    {
        "职业": "辅助",
        "子职业": "召唤师",
        "名字": "梅尔",
        "阵营": [
            "莱茵生命",
            "哥伦比亚"
        ],
        "种族": [
            "阿纳缇"
        ],
        "稀有度": 4,
        "画师": "幻象黑兔"
    },
    {
        "职业": "术师",
        "子职业": "扩散术师",
        "名字": "天火",
        "阵营": [
            "维多利亚"
        ],
        "种族": [
            "菲林"
        ],
        "稀有度": 4,
        "画师": "TOKI"
    },
    {
        "职业": "术师",
        "子职业": "中坚术师",
        "名字": "阿米娅",
        "阵营": [
            "罗德岛"
        ],
        "种族": [
            "卡特斯",
            "奇美拉"
        ],
        "稀有度": 4,
        "画师": "唯@W"
    },
    {
        "职业": "狙击",
        "子职业": "炮手",
        "名字": "陨星",
        "阵营": [
            "罗德岛"
        ],
        "种族": [
            "萨卡兹"
        ],
        "稀有度": 4,
        "画师": "TOKI"
    },
    {
        "职业": "狙击",
        "子职业": "速射手",
        "名字": "白金",
        "阵营": [
            "卡西米尔"
        ],
        "种族": [
            "库兰塔"
        ],
        "稀有度": 4,
        "画师": "Skade"
    },
    {
        "职业": "狙击",
        "子职业": "速射手",
        "名字": "蓝毒",
        "阵营": [
            "伊比利亚"
        ],
        "种族": [
            "安努拉"
        ],
        "稀有度": 4,
        "画师": "LLC"
    },
    {
        "职业": "近卫",
        "子职业": "强攻手",
        "名字": "幽灵鲨",
        "阵营": [
            "深海猎人",
            "阿戈尔"
        ],
        "种族": [
            "未公开"
        ],
        "稀有度": 4,
        "画师": "Skade"
    },
    {
        "职业": "近卫",
        "子职业": "领主",
        "名字": "拉普兰德",
        "阵营": [
            "叙拉古"
        ],
        "种族": [
            "鲁珀"
        ],
        "稀有度": 4,
        "画师": "幻象黑兔"
    },
    {
        "职业": "近卫",
        "子职业": "斗士",
        "名字": "因陀罗",
        "阵营": [
            "格拉斯哥帮",
            "维多利亚"
        ],
        "种族": [
            "菲林"
        ],
        "稀有度": 4,
        "画师": "Infukun"
    },
    {
        "职业": "近卫",
        "子职业": "无畏者",
        "名字": "芙兰卡",
        "阵营": [
            "黑钢国际",
            "哥伦比亚"
        ],
        "种族": [
            "沃尔珀"
        ],
        "稀有度": 4,
        "画师": "TOKI"
    },
    {
        "职业": "先锋",
        "子职业": "尖兵",
        "名字": "德克萨斯",
        "阵营": [
            "企鹅物流",
            "炎",
            "龙门"
        ],
        "种族": [
            "鲁珀"
        ],
        "稀有度": 4,
        "画师": "幻象黑兔"
    },
    {
        "职业": "先锋",
        "子职业": "尖兵",
        "名字": "凛冬",
        "阵营": [
            "乌萨斯学生自治团",
            "乌萨斯"
        ],
        "种族": [
            "乌萨斯"
        ],
        "稀有度": 4,
        "画师": "Skade"
    },
    {
        "职业": "医疗",
        "子职业": "群愈师",
        "名字": "白面鸮",
        "阵营": [
            "莱茵生命",
            "哥伦比亚"
        ],
        "种族": [
            "黎博利"
        ],
        "稀有度": 4,
        "画师": "竜崎いち"
    },
    {
        "职业": "特种",
        "子职业": "推击手",
        "名字": "阿消",
        "阵营": [
            "炎",
            "龙门"
        ],
        "种族": [
            "札拉克"
        ],
        "稀有度": 3,
        "画师": "阿鬼"
    },
    {
        "职业": "辅助",
        "子职业": "凝滞师",
        "名字": "地灵",
        "阵营": [
            "莱塔尼亚"
        ],
        "种族": [
            "卡普里尼"
        ],
        "稀有度": 3,
        "画师": "HUG"
    },
    {
        "职业": "辅助",
        "子职业": "召唤师",
        "名字": "深海色",
        "阵营": [
            "阿戈尔"
        ],
        "种族": [
            "未公开"
        ],
        "稀有度": 3,
        "画师": "REALMBW"
    },
    {
        "职业": "重装",
        "子职业": "守护者",
        "名字": "古米",
        "阵营": [
            "乌萨斯学生自治团",
            "乌萨斯"
        ],
        "种族": [
            "乌萨斯"
        ],
        "稀有度": 3,
        "画师": "Skade"
    },
    {
        "职业": "重装",
        "子职业": "铁卫",
        "名字": "蛇屠箱",
        "阵营": [
            "哥伦比亚"
        ],
        "种族": [
            "匹特拉姆"
        ],
        "稀有度": 3,
        "画师": "Skade"
    },
    {
        "职业": "重装",
        "子职业": "铁卫",
        "名字": "角峰",
        "阵营": [
            "喀兰贸易",
            "谢拉格"
        ],
        "种族": [
            "丰蹄"
        ],
        "稀有度": 3,
        "画师": "竜崎いち"
    },
    {
        "职业": "医疗",
        "子职业": "群愈师",
        "名字": "调香师",
        "阵营": [
            "罗德岛"
        ],
        "种族": [
            "沃尔珀"
        ],
        "稀有度": 3,
        "画师": "Lanzi"
    },
    {
        "职业": "医疗",
        "子职业": "医师",
        "名字": "嘉维尔",
        "阵营": [
            "罗德岛"
        ],
        "种族": [
            "阿达克利斯"
        ],
        "稀有度": 3,
        "画师": "LLC"
    },
    {
        "职业": "医疗",
        "子职业": "医师",
        "名字": "末药",
        "阵营": [
            "罗德岛"
        ],
        "种族": [
            "沃尔珀"
        ],
        "稀有度": 3,
        "画师": "下野宏铭"
    },
    {
        "职业": "特种",
        "子职业": "钩索师",
        "名字": "暗索",
        "阵营": [
            "炎",
            "龙门"
        ],
        "种族": [
            "卡特斯"
        ],
        "稀有度": 3,
        "画师": "m9nokuro"
    },
    {
        "职业": "特种",
        "子职业": "处决者",
        "名字": "砾",
        "阵营": [
            "卡西米尔"
        ],
        "种族": [
            "札拉克"
        ],
        "稀有度": 3,
        "画师": "竜崎いち"
    },
    {
        "职业": "近卫",
        "子职业": "术战者",
        "名字": "慕斯",
        "阵营": [
            "维多利亚"
        ],
        "种族": [
            "菲林"
        ],
        "稀有度": 3,
        "画师": "Iritoa"
    },
    {
        "职业": "近卫",
        "子职业": "强攻手",
        "名字": "艾丝黛尔",
        "阵营": [
            "萨尔贡"
        ],
        "种族": [
            "阿达克利斯"
        ],
        "稀有度": 3,
        "画师": "鸭"
    },
    {
        "职业": "近卫",
        "子职业": "领主",
        "名字": "霜叶",
        "阵营": [
            "罗德岛"
        ],
        "种族": [
            "沃尔珀"
        ],
        "稀有度": 3,
        "画师": "下野宏铭"
    },
    {
        "职业": "近卫",
        "子职业": "无畏者",
        "名字": "缠丸",
        "阵营": [
            "东"
        ],
        "种族": [
            "鬼"
        ],
        "稀有度": 3,
        "画师": "竜崎いち"
    },
    {
        "职业": "近卫",
        "子职业": "教官",
        "名字": "杜宾",
        "阵营": [
            "罗德岛"
        ],
        "种族": [
            "佩洛"
        ],
        "稀有度": 3,
        "画师": "LLC"
    },
    {
        "职业": "先锋",
        "子职业": "冲锋手",
        "名字": "红豆",
        "阵营": [
            "哥伦比亚"
        ],
        "种族": [
            "萨卡兹"
        ],
        "稀有度": 3,
        "画师": "下野宏铭"
    },
    {
        "职业": "先锋",
        "子职业": "尖兵",
        "名字": "清道夫",
        "阵营": [
            "S.W.E.E.P",
            "罗德岛"
        ],
        "种族": [
            "札拉克"
        ],
        "稀有度": 3,
        "画师": "戏言咸咸"
    },
    {
        "职业": "先锋",
        "子职业": "尖兵",
        "名字": "讯使",
        "阵营": [
            "喀兰贸易",
            "谢拉格"
        ],
        "种族": [
            "依特拉"
        ],
        "稀有度": 3,
        "画师": "竜崎いち"
    },
    {
        "职业": "狙击",
        "子职业": "炮手",
        "名字": "白雪",
        "阵营": [
            "东"
        ],
        "种族": [
            "阿纳缇"
        ],
        "稀有度": 3,
        "画师": "阿鬼"
    },
    {
        "职业": "狙击",
        "子职业": "速射手",
        "名字": "流星",
        "阵营": [
            "卡西米尔"
        ],
        "种族": [
            "库兰塔"
        ],
        "稀有度": 3,
        "画师": "HUG"
    },
    {
        "职业": "狙击",
        "子职业": "速射手",
        "名字": "杰西卡",
        "阵营": [
            "黑钢国际",
            "哥伦比亚"
        ],
        "种族": [
            "菲林"
        ],
        "稀有度": 3,
        "画师": "m9nokuro"
    },
    {
        "职业": "术师",
        "子职业": "扩散术师",
        "名字": "远山",
        "阵营": [
            "萨米"
        ],
        "种族": [
            "埃拉菲亚"
        ],
        "稀有度": 3,
        "画师": "谜肘"
    },
    {
        "职业": "术师",
        "子职业": "中坚术师",
        "名字": "夜烟",
        "阵营": [
            "维多利亚"
        ],
        "种族": [
            "菲林"
        ],
        "稀有度": 3,
        "画师": "Skade"
    },
    {
        "职业": "辅助",
        "子职业": "凝滞师",
        "名字": "梓兰",
        "阵营": [
            "行动预备组A6",
            "罗德岛"
        ],
        "种族": [
            "黎博利"
        ],
        "稀有度": 2,
        "画师": "Skade"
    },
    {
        "职业": "术师",
        "子职业": "中坚术师",
        "名字": "史都华德",
        "阵营": [
            "行动预备组A4",
            "罗德岛"
        ],
        "种族": [
            "沃尔珀"
        ],
        "稀有度": 2,
        "画师": "一立里子"
    },
    {
        "职业": "医疗",
        "子职业": "医师",
        "名字": "安赛尔",
        "阵营": [
            "行动预备组A4",
            "罗德岛"
        ],
        "种族": [
            "卡特斯"
        ],
        "稀有度": 2,
        "画师": "一立里子"
    },
    {
        "职业": "医疗",
        "子职业": "医师",
        "名字": "芙蓉",
        "阵营": [
            "行动预备组A1",
            "罗德岛"
        ],
        "种族": [
            "萨卡兹"
        ],
        "稀有度": 2,
        "画师": "下野宏铭"
    },
    {
        "职业": "术师",
        "子职业": "扩散术师",
        "名字": "炎熔",
        "阵营": [
            "行动预备组A1",
            "罗德岛"
        ],
        "种族": [
            "萨卡兹"
        ],
        "稀有度": 2,
        "画师": "下野宏铭"
    },
    {
        "职业": "狙击",
        "子职业": "速射手",
        "名字": "安德切尔",
        "阵营": [
            "行动预备组A4",
            "罗德岛"
        ],
        "种族": [
            "萨科塔"
        ],
        "稀有度": 2,
        "画师": "一立里子"
    },
    {
        "职业": "狙击",
        "子职业": "速射手",
        "名字": "克洛丝",
        "阵营": [
            "行动预备组A1",
            "罗德岛"
        ],
        "种族": [
            "卡特斯"
        ],
        "稀有度": 2,
        "画师": "下野宏铭"
    },
    {
        "职业": "重装",
        "子职业": "铁卫",
        "名字": "米格鲁",
        "阵营": [
            "行动预备组A1",
            "罗德岛"
        ],
        "种族": [
            "佩洛"
        ],
        "稀有度": 2,
        "画师": "下野宏铭"
    },
    {
        "职业": "重装",
        "子职业": "铁卫",
        "名字": "卡缇",
        "阵营": [
            "行动预备组A4",
            "罗德岛"
        ],
        "种族": [
            "佩洛"
        ],
        "稀有度": 2,
        "画师": "一立里子"
    },
    {
        "职业": "近卫",
        "子职业": "无畏者",
        "名字": "玫兰莎",
        "阵营": [
            "行动预备组A4",
            "罗德岛"
        ],
        "种族": [
            "菲林"
        ],
        "稀有度": 2,
        "画师": "一立里子"
    },
    {
        "职业": "先锋",
        "子职业": "冲锋手",
        "名字": "翎羽",
        "阵营": [
            "拉特兰"
        ],
        "种族": [
            "黎博利"
        ],
        "稀有度": 2,
        "画师": "deel"
    },
    {
        "职业": "先锋",
        "子职业": "尖兵",
        "名字": "香草",
        "阵营": [
            "黑钢国际",
            "哥伦比亚"
        ],
        "种族": [
            "瓦伊凡"
        ],
        "稀有度": 2,
        "画师": "m9nokuro"
    },
    {
        "职业": "先锋",
        "子职业": "尖兵",
        "名字": "芬",
        "阵营": [
            "行动预备组A1",
            "罗德岛"
        ],
        "种族": [
            "库兰塔"
        ],
        "稀有度": 2,
        "画师": "下野宏铭"
    },
    {
        "职业": "术师",
        "子职业": "扩散术师",
        "名字": "12F",
        "阵营": [
            "罗德岛"
        ],
        "种族": [
            "萨弗拉"
        ],
        "稀有度": 1,
        "画师": "海猫络合物"
    },
    {
        "职业": "术师",
        "子职业": "中坚术师",
        "名字": "杜林",
        "阵营": [
            "行动组A4",
            "罗德岛"
        ],
        "种族": [
            "杜林"
        ],
        "稀有度": 1,
        "画师": "Skade"
    },
    {
        "职业": "狙击",
        "子职业": "速射手",
        "名字": "巡林者",
        "阵营": [
            "行动组A4",
            "罗德岛"
        ],
        "种族": [
            "萨弗拉"
        ],
        "稀有度": 1,
        "画师": "竜崎いち"
    },
    {
        "职业": "重装",
        "子职业": "铁卫",
        "名字": "黑角",
        "阵营": [
            "行动组A4",
            "罗德岛"
        ],
        "种族": [
            "鬼"
        ],
        "稀有度": 1,
        "画师": "竜崎いち"
    },
    {
        "职业": "先锋",
        "子职业": "尖兵",
        "名字": "夜刀",
        "阵营": [
            "行动组A4",
            "罗德岛"
        ],
        "种族": [
            "鬼"
        ],
        "稀有度": 1,
        "画师": "Skade"
    },
    {
        "职业": "近卫",
        "子职业": "无畏者",
        "名字": "Castle-3",
        "阵营": [
            "罗德岛"
        ],
        "种族": [
            ""
        ],
        "稀有度": 0,
        "画师": "TOKI"
    },
    {
        "职业": "医疗",
        "子职业": "医师",
        "名字": "Lancet-2",
        "阵营": [
            "罗德岛"
        ],
        "种族": [
            ""
        ],
        "稀有度": 0,
        "画师": "TOKI"
    }
]

let 猜测列表 = [
    {名字:'',稀有度:'',阵营:'',职业:'',种族:'',画师:''},
    {名字:'',稀有度:'',阵营:'',职业:'',种族:'',画师:''},
    {名字:'',稀有度:'',阵营:'',职业:'',种族:'',画师:''},
    {名字:'',稀有度:'',阵营:'',职业:'',种族:'',画师:''},
    {名字:'',稀有度:'',阵营:'',职业:'',种族:'',画师:''},
    {名字:'',稀有度:'',阵营:'',职业:'',种族:'',画师:''},
    {名字:'',稀有度:'',阵营:'',职业:'',种族:'',画师:''},
    {名字:'',稀有度:'',阵营:'',职业:'',种族:'',画师:''},
]

let 输出信息 = {信息1: '',信息2: ''}

function 排除嫌疑人(嫌疑人清单,猜测条件){
    let 数据完整标志 = true
    for(let 项名 in 猜测条件){
        if(猜测条件[项名] == ''){
            数据完整标志 = false
        }
    }
    if(数据完整标志 == false){
        return
    }

    let 干员
    for(let 临时干员 of 嫌疑人清单){
        if(临时干员.名字 == 猜测条件.名字){
            干员 = 临时干员
        }
    }

    if(猜测条件.稀有度 == "向上"){
        for(let 编号 = 嫌疑人清单.length-1 ; 编号 >= 0 ; 编号 --){
            let 临时干员 = 嫌疑人清单[编号]
            if(临时干员.稀有度 <= 干员.稀有度){
                嫌疑人清单.splice(编号,1)
            }
        }
    }
    if(猜测条件.稀有度 == "一致"){
        for(let 编号 = 嫌疑人清单.length-1 ; 编号 >= 0 ; 编号 --){
            let 临时干员 = 嫌疑人清单[编号]
            if(临时干员.稀有度 != 干员.稀有度){
                嫌疑人清单.splice(编号,1)
            }
        }
    }
    if(猜测条件.稀有度 == "向下"){
        for(let 编号 = 嫌疑人清单.length-1 ; 编号 >= 0 ; 编号 --){
            let 临时干员 = 嫌疑人清单[编号]
            if(临时干员.稀有度 >= 干员.稀有度){
                嫌疑人清单.splice(编号,1)
            }
        }
    }


    if(猜测条件.阵营 == "不同"){
        for(let 编号 = 嫌疑人清单.length-1 ; 编号 >= 0 ; 编号 --){
            let 临时干员 = 嫌疑人清单[编号]

            let 阵营相同数 = 0
            for(let 干员阵营 of 干员.阵营)
            for(let 临时干员阵营 of 临时干员.阵营){
                if(干员阵营 == 临时干员阵营){
                    阵营相同数 = 阵营相同数 + 1
                }
            }

            if(阵营相同数 > 0){
                嫌疑人清单.splice(编号,1)
            }
        }
    }

    if(猜测条件.阵营 == "部分一致"){
        for(let 编号 = 嫌疑人清单.length-1 ; 编号 >= 0 ; 编号 --){
            let 临时干员 = 嫌疑人清单[编号]

            let 阵营相同数 = 0
            for(let 干员阵营 of 干员.阵营)
            for(let 临时干员阵营 of 临时干员.阵营){
                if(干员阵营 == 临时干员阵营){
                    阵营相同数 = 阵营相同数 + 1
                }
            }

            if(阵营相同数 == 0){
                嫌疑人清单.splice(编号,1)
                continue
            }
            if(干员.阵营.length == 临时干员.阵营.length && 干员.阵营.length == 阵营相同数){
                嫌疑人清单.splice(编号,1)
            }
        }
    }


    if(猜测条件.阵营 == "一致"){
        for(let 编号 = 嫌疑人清单.length-1 ; 编号 >= 0 ; 编号 --){
            let 临时干员 = 嫌疑人清单[编号]

            let 阵营相同数 = 0
            for(let 干员阵营 of 干员.阵营)
            for(let 临时干员阵营 of 临时干员.阵营){
                if(干员阵营 == 临时干员阵营){
                    阵营相同数 = 阵营相同数 + 1
                }
            }

            if(阵营相同数 == 0){
                嫌疑人清单.splice(编号,1)
                continue
            }
            if(干员.阵营.length != 临时干员.阵营.length){
                嫌疑人清单.splice(编号,1)
                continue
            }
            if(干员.阵营.length != 阵营相同数){
                嫌疑人清单.splice(编号,1)
            }
        }
    }

    if(猜测条件.职业 == "不同"){
        for(let 编号 = 嫌疑人清单.length-1 ; 编号 >= 0 ; 编号 --){
            let 临时干员 = 嫌疑人清单[编号]
            if(临时干员.职业 == 干员.职业){
                嫌疑人清单.splice(编号,1)
            }
        }
    }

    if(猜测条件.职业 == "部分一致"){
        for(let 编号 = 嫌疑人清单.length-1 ; 编号 >= 0 ; 编号 --){
            let 临时干员 = 嫌疑人清单[编号]
            if(临时干员.职业 != 干员.职业){
                嫌疑人清单.splice(编号,1)
                continue
            }
            if(临时干员.子职业 == 干员.子职业){
                嫌疑人清单.splice(编号,1)
            }
        }
    }

    if(猜测条件.职业 == "一致"){
        for(let 编号 = 嫌疑人清单.length-1 ; 编号 >= 0 ; 编号 --){
            let 临时干员 = 嫌疑人清单[编号]
            if(临时干员.职业 != 干员.职业){
                嫌疑人清单.splice(编号,1)
                continue
            }
            if(临时干员.子职业 != 干员.子职业){
                嫌疑人清单.splice(编号,1)
            }
        }
    }


    if(猜测条件.种族 == "不同"){
        for(let 编号 = 嫌疑人清单.length-1 ; 编号 >= 0 ; 编号 --){
            let 临时干员 = 嫌疑人清单[编号]

            let 种族相同数 = 0
            for(let 干员种族 of 干员.种族)
            for(let 临时干员种族 of 临时干员.种族){
                if(干员种族 == 临时干员种族){
                    种族相同数 = 种族相同数 + 1
                }
            }

            if(种族相同数 > 0){
                嫌疑人清单.splice(编号,1)
            }
        }
    }

    if(猜测条件.种族 == "部分一致"){
        for(let 编号 = 嫌疑人清单.length-1 ; 编号 >= 0 ; 编号 --){
            let 临时干员 = 嫌疑人清单[编号]

            let 种族相同数 = 0
            for(let 干员种族 of 干员.种族)
            for(let 临时干员种族 of 临时干员.种族){
                if(干员种族 == 临时干员种族){
                    种族相同数 = 种族相同数 + 1
                }
            }

            if(种族相同数 == 0){
                嫌疑人清单.splice(编号,1)
                continue
            }
            if(干员.种族.length == 临时干员.种族.length && 干员.种族.length == 种族相同数){
                嫌疑人清单.splice(编号,1)
            }
        }
    }


    if(猜测条件.种族 == "一致"){
        for(let 编号 = 嫌疑人清单.length-1 ; 编号 >= 0 ; 编号 --){
            let 临时干员 = 嫌疑人清单[编号]

            let 种族相同数 = 0
            for(let 干员种族 of 干员.种族)
            for(let 临时干员种族 of 临时干员.种族){
                if(干员种族 == 临时干员种族){
                    种族相同数 = 种族相同数 + 1
                }
            }

            if(种族相同数 == 0){
                嫌疑人清单.splice(编号,1)
                continue
            }
            if(干员.种族.length != 临时干员.种族.length){
                嫌疑人清单.splice(编号,1)
                continue
            }
            if(干员.种族.length != 种族相同数){
                嫌疑人清单.splice(编号,1)
            }
        }
    }

    if(猜测条件.画师 == "不同"){
        for(let 编号 = 嫌疑人清单.length-1 ; 编号 >= 0 ; 编号 --){
            let 临时干员 = 嫌疑人清单[编号]
            if(临时干员.画师 == 干员.画师){
                嫌疑人清单.splice(编号,1)
            }
        }
    }

    if(猜测条件.画师 == "一致"){
        for(let 编号 = 嫌疑人清单.length-1 ; 编号 >= 0 ; 编号 --){
            let 临时干员 = 嫌疑人清单[编号]
            if(临时干员.画师 != 干员.画师){
                嫌疑人清单.splice(编号,1)
            }
        }
    }
    
}

function 是否猜对职业(猜测列表){
    let 已猜对职业 = false
    for(let 猜测条件 of 猜测列表){
        if(猜测条件.职业 == "一致" || 猜测条件.职业 == "部分一致"){
            已猜对职业 = true
        }
    }
    return 已猜对职业
}

    var Main = {
    data() {
      return {
        干员列表,
        猜测列表,
        输出信息
      }
    },
    methods: {
        开始猜测: function(){

            let 嫌疑人清单 = []
            for(let 干员 of 干员列表){
                干员.嫌疑值 = 0
                嫌疑人清单.push(干员)
            }

            let 已猜对职业 = 是否猜对职业(猜测列表)

            for(let 猜测条件 of 猜测列表){
                排除嫌疑人(嫌疑人清单,猜测条件)
            }

            for(let 嫌疑人编号 in 嫌疑人清单)
            for(let 关联嫌疑人编号 in 嫌疑人清单){

                if(嫌疑人编号 == 关联嫌疑人编号){
                    continue
                }

                let 嫌疑人 = 嫌疑人清单[嫌疑人编号]
                let 关联嫌疑人 = 嫌疑人清单[关联嫌疑人编号]

                let 证据 = false

                if(已猜对职业){
                    if(嫌疑人.子职业 == 关联嫌疑人.子职业){
                        证据 = true
                    }
                }else{
                    if(嫌疑人.职业 == 关联嫌疑人.职业){
                        证据 = true
                    }
                }

                if(嫌疑人.画师 == 关联嫌疑人.画师){
                    证据 = true
                }

                for(let 嫌疑人阵营 of 嫌疑人.阵营)
                for(let 关联嫌疑人阵营 of 关联嫌疑人.阵营){
                    if(嫌疑人阵营 == 关联嫌疑人阵营){
                        证据 = true
                    }
                }

                for(let 嫌疑人种族 of 嫌疑人.种族)
                for(let 关联嫌疑人种族 of 关联嫌疑人.种族){
                    if(嫌疑人种族 == 关联嫌疑人种族){
                        证据 = true
                    }
                }

                if(证据){
                    嫌疑人.嫌疑值 = 嫌疑人.嫌疑值 + 1
                }
            }

            嫌疑人清单.sort(function(嫌疑人A,嫌疑人B){
                return 嫌疑人B.嫌疑值 - 嫌疑人A.嫌疑值
            })

            if(嫌疑人清单.length == 0){
                输出信息.信息1 = "出错"
            }else{
                输出信息.信息1 = "最大怀疑人:"+嫌疑人清单[0].名字
                if(嫌疑人清单.length > 1){
                    输出信息.信息1 = 输出信息.信息1 + ',' + 嫌疑人清单[1].名字
                }
                if(嫌疑人清单.length > 2){
                    输出信息.信息1 = 输出信息.信息1 + ',' + 嫌疑人清单[2].名字
                }
            }
            输出信息.信息2 = "嫌疑人数量:"+嫌疑人清单.length
        },
        清空猜测列表: function(){
            for(let 猜测条件 of 猜测列表){
                for(let 字段名 in 猜测条件){
                    猜测条件[字段名] = ''
                }
            }
            this.开始猜测()
        }
    },
    created() {
        this.开始猜测()
    }
  }
var Ctor = Vue.extend(Main)
new Ctor().$mount('#app')
</script>